# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [2]:
numberFloat = 2.3

print(numberFloat)

number_Float = 2.5

2.3

#### Performing Calculations on ints and floats

##### Addition

In [3]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

# Short-hand version 
result += 2 # result = result + 2
print(result)

7.4
9.4

##### Subtraction

In [4]:
result_diff = num2 - num1
print(result_diff)

# short-hand version
result_diff -= 1 # result_diff = result_diff - 1
print(result_diff)

3.4000000000000004
2.4000000000000004

##### Multiplication

In [9]:
result_mul = num1 * num2
print(result_mul)

#short-hand version
result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [10]:
result_div = num2/num1
print(result_div)

#short-hand version
result_div /= 2
print(result_div)

2.7
1.35

##### Floor Division

In [8]:
result_floor = num2 // num1
print(result_floor)

#short-hand version
result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [7]:
num1 = 2
num2 = 5.4
result_mod = num2 % num1
print(result_mod)

#short-hand version
result_mod %= 2
print(result_mod)

1.4000000000000004
1.4000000000000004

##### Exponential

In [6]:
square = 5 ** 2
print(square)

#short-hand version
square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [11]:
name = 'Allyse'
print(name)

Allyse

##### print() <br>
<p>Don't forget about end=' '</p>

In [13]:
print('This is my first name:', name)

print("Full Name:", name, end = ' Arucan')

This is my first name: Allyse
Full Name: Allyse Arucan

##### String Concatenation

In [15]:
first_name = "Jane"
last_name = "Doe"

full_name = first_name + " " + last_name
print(full_name)

#short-hand version
full_name += " Jr"
print(full_name)

Jane Doe
Jane Doe Jr

##### Type Conversion

In [16]:
number_string = "32"

change_type_num = int(number_string)
print(number_string)
print(change_type_num)

print("\n")
print(type(number_string))
print(type(change_type_num))

32
32


<class 'str'>
<class 'int'>

##### input()

In [19]:
# Input will ALWAYS return a string -- ALL THE TIME

age = input('What is your age?: ')
print(age)

add_age= int(age) + 1
print(add_age)

What is your age?: 27
27
28

##### format()

In [21]:
age = input('What is your age? ')

result_string = 'You are {} {} and you are getting wiser'.format(age,name)
print(result_string)

result_again = f'{age} is a great time in life!!!'
print(result_again)

What is your age? 27
You are 27 Allyse and you are getting wiser
27 is a great time in life!!!

##### Old Way (python 2)

In [23]:
result_string2 = 'You are %s and you look great for your age %s' % (age,name)
print(result_string2)

You are 27 and you look great for your age Allyse

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [27]:
color = input('What color is the car? ')
year = input('What year was it made? ')
make = input('What is the make of the car? ')
model = input('What is the model of the car? ')

car_info = f"The car's color is {color}, the year is {year}, make is {make}, and model is {model}"
print(car_info)

What color is the car? white
What year was it made? 2015
What is the make of the car? Toyota
What is the model of the car? Corolla
The car's color is white, the year is 2015, make is Toyota, and model is Corolla

### If Statements

In [28]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10

if num2 == num1:
    print('Equal Values')
else:
    print('Not Equal')
    
if num2 >= num1:
    print('Num2 is greater')
elif num1 <= num2:
    print('Num1 is less than num2')

Not Equal
Num2 is greater

##### 'is' keyword

In [ ]:
num3 = 55
if num 3 is 55:
    print('This is the number 55')
    
if num3 == 55

##### 'in' keyword

In [30]:
# Check if character in name
char_name = 'Max Payne'

if "Max" in char_name:
    print('The character who lost everything...')

##### 'not in' keyword'

In [31]:
sega_char = 'Sonic'

if 'a' not in sega_char:
    print('Not here bosss....')

Not here bosss....

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [33]:
p_input = input("Type in a phrase: ")

if 'p' in p_input:
    print('I smell P')
else:
    print('No P here')

Type in a phrase: aloha the pus
I smell P

## Using 'and'/'or' with If Statements

In [34]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

# If with "and" statements
if num_11 / 5  == num_12 and num_13 - 7 == num_14:
    print('True and True')
    
# If with "or" statements
if num_11 > num_12 or num_13 == num_14:
    print('True and False')
#will print because one is true in an 'or' statement

True and True

### Elif Statements

In [36]:
first_name = "Allyse"

if first_name == "Smith":
    print("The name is Smith")
elif first_name != 'Max':
    print('The name is NOT Max')
else:
    print('The name is Max')

The name is NOT Max

### Else Statements

In [ ]:
# see above

### For Loops

In [39]:
# for keyword, counter, in keyword, condition

# for i in range(10):
#     print(i)

name = "Allyse Arucan"

# for letter in name:
#     print(letter)

for i in range(len(name)):
    print(name[i])
print(i)

A
l
l
y
s
e

A
r
u
c
a
n
12

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [40]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [41]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name:
    pass #TODO: come back and finish implementation

##### Double For Loops

In [44]:
for i in range(5):
    for j in range(5):
        print("i =", i, "j =",j)

i = 0 j = 0
i = 0 j = 1
i = 0 j = 2
i = 0 j = 3
i = 0 j = 4
i = 1 j = 0
i = 1 j = 1
i = 1 j = 2
i = 1 j = 3
i = 1 j = 4
i = 2 j = 0
i = 2 j = 1
i = 2 j = 2
i = 2 j = 3
i = 2 j = 4
i = 3 j = 0
i = 3 j = 1
i = 3 j = 2
i = 3 j = 3
i = 3 j = 4
i = 4 j = 0
i = 4 j = 1
i = 4 j = 2
i = 4 j = 3
i = 4 j = 4

### While Loops

In [45]:
# while keyword, condition statement
# based on the conditional statement

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [46]:
game_over = False

while True:
    print("infinite Loop")
    if game_over == False:
        break

infinite Loop

##### While & For Loops Used Together

In [49]:
num = 0

while num < 5:
    print("\n While Loop Iteration: " + str(num))
    
    for i in range(2):
        print("For loop Iteration: ", str(i))
        
    num += 1

 While Loop Iteration: 0
For loop Iteration:  0
For loop Iteration:  1

 While Loop Iteration: 1
For loop Iteration:  0
For loop Iteration:  1

 While Loop Iteration: 2
For loop Iteration:  0
For loop Iteration:  1

 While Loop Iteration: 3
For loop Iteration:  0
For loop Iteration:  1

 While Loop Iteration: 4
For loop Iteration:  0
For loop Iteration:  1

### Built-In Functions

##### range()

In [50]:
#Start, Stop, Step

for i in range(2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

##### len()

In [51]:
# Check length of a variable

name = "Max "
length = len(name)
print(length)

4

##### help()

In [53]:
# Use this function to view more info about a python function (With Docstring)
help(range)

or

range?

##### isinstance()

In [55]:
# Check a variable to find out what Object family it belongs to
# isinstance(var, type)

print(isinstance(4.5, int))

if isinstance(4.5, float):
    print("This is a float type.")

False
This is a float type.

##### abs()

In [57]:
# | 5 |

print(abs(-5))
print(abs(-5.3))

5
5.3

### Try and Except

In [60]:
# use whenever you expect to encounter a bug so that error doesn't cause program to stop
# use so you can log out graceful and useful errors

try:
    number_test = 0
    input_num = int(input('Guess a Number '))
    if input_num != number_test:
        input_num = input_num + number_test
        print('Your Number is ' + str(input_num))
except:
    print("That did not work ---- ERROR: Change your input to a number")

Guess a Number aloha
That did not work ---- ERROR: Change your input to a number

### Lists

##### Declaring Lists

In [ ]:
1_1 = [] #Empty List Declaration

names = ['Rony', 'Blair', 'Ally', 'Alpha Ryan', 'Bob']

print(names)

##### Indexing a List

In [62]:
names = ['Rony', 'Blair', 'Ally', 'Alpha Ryan', 'Bob']

# [start: stop: step] -- [-1]

# Single Index
print(names[0])

#Print starting at index 1 going to the end
print(names[1:])

#Print starting at the beginning of a list to N (n == the number we want to stop at)
print(names[:2])

#Print starting at index 1 going up by 2 in each iteration
print(names[1::2])

#Print starting from back and present in reverse order
print(names[::-1])

Rony
['Blair', 'Ally', 'Alpha Ryan', 'Bob']
['Rony', 'Blair']
['Blair', 'Alpha Ryan']

##### .append()

In [64]:
names.append('Joel AKA Zordon')
print(names)

['Rony', 'Blair', 'Ally', 'Alpha Ryan', 'Bob', 'Joel AKA Zordon']

##### .insert()

In [72]:
#list.insert(index, value)
names.insert(-2, "Steve")
print(names)

['Rony', 'Blair', 'Ally', 'Alpha Ryan', 'Bob', 'Steve', 'Joel AKA Zordon']

##### .pop()

In [73]:
# default is the last value if no parameter is given
# pop return the element that was removed in case you want to assign it to a variable

# a_name = names.pop()
# print(a_name)

print(names.pop(2))

Ally


##### .remove()

In [77]:
# value to be removed, not index
# names.remove("Bob")
# print(names)

#remove multiple bobs out of the list

while "Steve" in names:
    names.remove("Steve")
print(names)

['Rony', 'Blair', 'Alpha Ryan', 'Joel AKA Zordon']

##### del()

In [78]:
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully

del(names[1])
print(names)

['Rony', 'Alpha Ryan', 'Joel AKA Zordon']

##### Concatenating Two Lists

In [81]:
# Will append two lists together, not add up the elements in each list

l_2 = [0,1,2]
l_3 = [3,4,5]

large_list = l_2 + l_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [83]:
# Lists are able to hold any type of element, including OTHER lists themselves
# they can also go as deep as you want, having many lists nested inside of each other

names = ["Max", "Sam", "Josh", ["Sally", "Sue", "Tameka"]]
print(names)

print(names[3][1])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
Sue

##### Looping Through Lists

In [89]:
#two ways to loop through a list, one by index, the other by using the "in" keyword

#Loop with for loop (by Index)
for i in range(len(names)):
    print(names[i])
    
#Loop with a for loop (using the "in" keyword)
for i in names:
    print(i)

Max
Sam
Josh
['Sally', 'Sue', 'Tameka']
Max
Sam
Josh
['Sally', 'Sue', 'Tameka']

In [90]:
#Looping with Enumerate

for index, value in enumerate(names):
    print(f'the index is {index} and the value is {value}')

the index is 0 and the value is Max
the index is 1 and the value is Sam
the index is 2 and the value is Josh
the index is 3 and the value is ['Sally', 'Sue', 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [28]:
for i in range(1,20):
    cube = i**3
    if cube > 1000:
        break
    print(cube)

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [39]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break



for i in range (2,100):
    if i > 1:
        for j in range(2, i):
            if i % j == 0:
                break
        else:
            print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [27]:
age = int(input('How old are you? '))

if age < 18:
    print('You are a kid.')
elif age > 66:
    print('You are a senior.')
else:
    print('You are an adult.')

How old are you? 88
You are a senior.